---
import Image from "astro/components/Image.astro";
import logo from '../assets/images/logo.svg'
---

<div class="flex justify-between mb-16">
  <Image src={logo} alt="logo" />
  <div>Menu</div>
</div>
